@{
    ViewData["Title"] = "Home Page";
}

<style>
    label{
        font-weight:bold;
    }
</style>

<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-sm-11 text-center text-decoration-underline"><b>DOT NET CORE CRUD PRACTICE ALL FORM FIELD</b></div>
        <div class="col-md-8 col-sm-11 text-center">@ViewBag.message</div>
    </div>

    <p class="text-end"><a class="btn btn-warning" href="/Home/About">See List</a></p>

    <form action="/Home/Index" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-2">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Mobile Number</label>
                        <input type="number" name="mobilenumber" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Profile Image</label>
                        <input type="file" name="profilepath" class="form-control" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Gender</label>
                        <br />
                        Male : <input type="radio" name="gender" value="male" />
                        Female : <input type="radio" name="gender" value="female" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Highest Qualification</label>
                        <select name="qualification" class="form-control">
                            <option value="">--select--</option>
                            <option value="btech">B.Tech</option>
                            <option value="mtech">M.Tech</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <label>Message</label>
                        <textarea type="file" name="message" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-1">
                        <input type="submit" value="Add" class="btn btn-success"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>